@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@700&display=swap');

:root{
    --h1-font: 118.7px;
    --h2-font: 83.9px;
    --h3-font: 59.4px;
    --h4-font: 42px;
    --h5-font: 29.7px;
    --h6-font: 21px;
    --p-font: 21px;
}

@media screen  and (max-width: 1200px){
    :root{
        --h4-font: 21px
    }
}

.bodyMainContainer{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
}
.mainContainer{
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    border:2px solid #0C70E8;
    /* min-height: 00px; */
}

/* Tagline */
.tagLine{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100px;
    
}
.tagLine p{
    color: #0C70E8;
    font-size: var(--h4-font);
    font-weight: 700;
    line-height: 75.29px;
    text-transform: capitalize;
    font-family: 'Glegoo',serif;
}

/* end of tagline */

/* start of option holder */
.optionsHolder{
    /* background-color: red; */
    height: 80%;
    width:100%;
    
    /* display: flex;
    justify-content: center; */
}
.optionsHolderContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
   
}
.formContainer{
     display: flex;
     flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

}
.optionsMain{
    background-color: #0C70E8;
    height:52px;
    width:90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    flex-direction: row;
}

.optionsMain label{
    color:white;
    font-size: var(--h6-font);
    /* background-color:pink; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:.1rem; */
    
}
.optionsMain label input{
    /* background-color: pink; */
    color:yellow;
    font-size: var(--h1-font);
    display: none;
}

.radioButton{
    background-color: green;
}
.customButton{
    position: relative;
    background-color: white;
    min-height: 15px;
    min-width: 15px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding:.1rem;
    margin-right: .2rem;
    border:1px solid #0C70E8;
}

/* .optionsMain input:checked ~ .customButton{
  background-color: #2196F3;
} */
/* .optionsMain input:checked ~ .customButton::after{
  background-color: orange;
} */
.optionsMain input:checked ~ .customButton .round{
    /* top: 9px;
	left: 9px; */
    height: 12px;
    width: 12px;
    
	border-radius: 50%;
	background:#0C70E8;
}
/* end of start of option holder */
/* input holder */
.inputHolders{
    /* background-color: pink; */
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding-bottom: .5rem;
}
.inputHolders label{
    width:50%;
    /* padding:1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputHolders p{
    /* background-color: aqua; */
    font-size: var(--p-font);
    width:80%;
    padding-left: .5rem;
}
.inputHolders input{
    background-color: white;
    width: 80%;
    height: 50px;
    border:2px solid #0C70E8;
    padding-left: .5rem;
    /* text-align: center; */
}
/* .labelText{
    color:red;
    font-size: var(--h6-font);
} */
/* end of input holder */

/* submit button */
.submitBtnHolder{
    /* background-color: red; */
    height:100px;
    display: flex;
    align-items: center;
}
.buttonSubmitForm{
    width:400px;
    height: 48px;
    border-radius: 50px;
    background-color: white;
    
    color:#0C70E8;
    font-size: var(--h6-font);
    text-transform: uppercase;
    transition: all 1s linear;
    border: 1px solid #0C70E8;
    min-height: 48px;
}

.buttonSubmitForm:hover{
    width:400px;
    height: 48px;
    border-radius: 50px;
    /* border:none; */
    background-color:  #0C70E8;
    color:white;
    font-size: var(--h6-font);
    text-transform: uppercase;
    transition: all 1s linear;
    border: 1px solid white;
}
.buttonSubmitForm:active{
    transform:translateY(4px);
    transition: all 0.1s linear;
}
/* end of submit button */
@media screen  and (min-width: 1500px){
    .mainContainer{
        width:50%;
    }
}
@media screen  and (max-width: 1300px){
    .mainContainer{
        width:70%;
    }
}

@media screen  and (max-width: 900px){
    .bodyMainContainer{
        min-height: 500px;
    }
    .tagLine p{
        font-size: var(--h6-font);
    }
}

@media screen  and (max-width: 600px){
    .bodyMainContainer{
        width: 100%;
        height: 100%;
    }
    .mainContainer{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        border: none;
    }
    .inputHolders{
        height: 50%;
    }
    /* tagline */
    .tagLine{
        height: 15%;
        background-color: #0C70E8;
        min-height: 100px;
    }
    .tagLine p{
        font-size: var(--h6-font);
        color:white;
    }
    /* end of tagline */
    /* start for options holder */
    .optionsMain{
        border-radius: 0px;
        height: auto;
        width: 100%;
        flex-direction: column;
        background-color: white;
        align-items: center;
        padding-bottom:.5rem;
        padding-top:.5rem;
    }
    .optionsMainIndividual{
        /* background-color: aqua; */
        width:80%;
        min-height: 50px;
        text-align: center;
    }
    .optionsMain label{
        /* background-color: transparent; */
        justify-content: space-between;
        /* padding-top:1.5rem;  */
        text-align: left;
        
    }
    .labelText{
        color: #232929;
        width:80%;
        text-align: start;
        
    }
    .inputHolders{
        flex-direction: column;
        min-height: 250px ;
    }

    .inputHolders label{
        width:100%;
    }
    .buttonSubmitForm{
        width:300px;
        
    }
    .buttonSubmitForm:hover{
        width:300px;
    }
  
}

@media screen  and (max-width: 600px){
    .bodyMainContainer{
        width: 100%;
        height: 100%;
        min-height: 700px;
    }
    
    .mainContainer{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        border: none;
    }
    .inputHolders{
        height: 50%;
        background-color: #E5FBFB;
    }
    /* tagline */
    .tagLine{
        height: 15%;
        background-color: #0C70E8;
        min-height: 100px;
    }
    .tagLine p{
        font-size: var(--h6-font);
        color:white;
    }
    /* end of tagline */
    /* start for options holder */
    .optionsMain{
        border-radius: 0px;
        height: auto;
        width: 100%;
        flex-direction: column;
        /* background-color: yellow; */
        align-items: center;
        padding-bottom:.5rem;
        padding-top:.5rem;
    }
    .optionsMainIndividual{
        /* background-color: aqua; */
        width:80%;
        min-height: 50px;
        text-align: center;
    }
    
   
    
  
}

@media screen and (max-width:550px){
    /* .bodyMainContainer{
        min-height: auto;
    } */
     .inputHolders{
        height: 10%;
        min-height: 200px;
        /* background-color: yellowgreen; */
        padding: 0;
        justify-content: space-around;

    }
    /* .inputHolders label{
        background-color: pink;
        justify-content: flex-start;
    } */
    .inputHolders p{
        font-size: 15px;
        margin-top: 0;
    }
    .tagLine{
        height: 10%;
    }

    .inputHolders input{
        width: 80%;
        height: 30px;
    }
    .submitBtnHolder{
        /* background-color: red; */
        min-height: 100px;
        display: flex;
        align-items: center;
    }
    /* .tagLine{
        min-height: 100px;
    } */
}