.headerComponentHolder{
    background-color: transparent;
    width:100%;
    height:204px;
}

.bigScreen{
    background-color: red;
    /* width:303px;
    height: 204px; */
}
.smallScreen{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    width:303px;
    height: 204px;
}

.imgContainer img{
    object-fit: contain;
    width: 303px;
    height: 204px;
}
