.headerComponentHolder{
    /* background-color: yellow; */
    width:100%;
    height:204px;
    
}


.bigScreen{
    /* background-color:pink; */
    width:90%;
    height: 204px;
  
    
}

.smallScreen{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 120px;
}

@media screen and (max-width:900px) {
    .bigScreen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.imgContainer .logoLarge{
    object-fit: contain;
    width: 303px;
    height: 204px;
}
.imgContainer .logoSmall{
    object-fit: contain;
    width: 200px;
    height: auto;
}
 