.websiteContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

@media screen  and (max-width: 600px){
    .websiteContainer{
        justify-content: flex-start;
    }
}